body {
    font-family: 'Open Sans', sans-serif;
    color: #666;
    line-height: 1.7;
}

a {
    transition: color .2s linear;
    text-decoration: none;
    border-bottom: 1px dotted; /* foi retirado o underline e colocado pontilhado nas bordas */
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 36px 72px;
    box-sizing: border-box;
    /* quando coloca o padding ele irá somar o width de toda a pagina mais o proprio paddin, esse comando boz-sizing ira retira essa soma */    
    background-image: url(../images/overlay.png), url(../images/bg.jpg);
    background-position: left top; /* irá centralizar da esquerda para o topo */
    background-size: auto, cover; /* cover: irá mostrar a imagem toda */

}

.main-header-tittle {
    font-size: 22px;
    line-height: 1.5;
    color: white;
    font-weight: normal;
    color: rgba(white, white, white, 0.5) /* usar rgba é possivel aplicar transparencia  */
}

.main-header-tittle strong {
    color: white;
    font-weight: normal;
}

.main-header-link {
    color: inherit; /* busca a cor por herança do elemento pai */
}

.main-header-link:hover {
    color: #49bf9d;
}

.main-content {
    width: 65%;
    margin-left: 35%;
    padding: 124px 36px 72px;
    box-sizing: border-box;
    /* quando coloca o padding ele irá somar o width de toda a pagina mais o proprio paddin, esse comando boz-sizing ira retira essa soma */
}